Criar um SPA usando angular que consuma essa API e tenha as rotas e telas para esses

cadastros e funções da API.

Criar um repositório no github contendo o projeto do front-end e no readme.md detalhar os
passos necessários para rodar o frontend em modo de desenvolvimento e para criar um build
do front-end.
Fazer os commits no github como se estivesse em um projeto real, fazendo um commit por
feature e explicando nos commits o que está sendo alterado no projeto. Isso também será
avaliado.
Poderá ser utilizado qualquer lib css.
Não precisa se preocupar com autenticação das rotas, todas as rotas na API serão públicas.
Tratar as exceções quando a API retornar um http code header diferente de 200.
